<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <f:view contentType="text/html" id="fview" locale="#{language.locale}">

        <h:head>
            <title>#{administration['admincenter']}</title>

            <style type="text/css">
                .dialogEditDetails tr, .dialogEditDetails td {
                    border: none;
                }
                .adminHeader{
                    font-size: 24px;
                    text-align: center;
                    margin-left: 10px;
                }
                .ui-tabs.ui-tabs-left > .ui-tabs-nav li{
                   border-right: 1px solid #000000 !important;
                   border-top-right-radius: 3px;
                   border-bottom-right-radius: 3px;
                }                
            </style>
        </h:head>
        <h:body>

            <p:layout fullPage="true" >
                <p:layoutUnit id="top" gutter="1" position="north" size="50">
                    <h:outputText styleClass="adminHeader" value="#{administration['text.administration']}"/>
                </p:layoutUnit>

                <p:layoutUnit id="bottom" position="south" size="60">
                    <h:link value="#{administration['link.gohome']}" outcome="pretty:home" 
                            style="float: left; margin-left:10px;" />
                </p:layoutUnit>

                <p:layoutUnit id="center" position="center">    
                    
                    <p:tabView id="tabView" dynamic="true" cache="false" orientation="left"> 

                        <p:tab id="tba1" title="#{administration['tab.sportfacility']}">  
                            <ui:include src="sportfacility.xhtml" />                            
                        </p:tab>  

                        <p:tab id="tab2" title="#{administration['tab.sports']}">  
                            <ui:include src="sports.xhtml" />                               
                        </p:tab> 

                        <p:tab id="tab3" title="#{administration['tab.reservations']}">  
                            <ui:include src="reservation.xhtml" />                                
                        </p:tab>  

                        <p:tab id="tab4" title="#{administration['tab.users']}">  
                            <ui:include src="user.xhtml" />                                
                        </p:tab>  

                    </p:tabView>                    

                </p:layoutUnit>

            </p:layout>


        </h:body>

    </f:view>
</html>

