<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <p:panel header="#{administration['sport.header.removeedit']}">         
        <h:form id="formDLsports"> 
            <p:messages id="messagesDLSport"/>
            <h:panelGrid columns="1" cellpadding="10">  
                <p:dataList value="#{adminSportAndSfBean.allSports}" var="asport" id="sports"  
                            paginator="true" rows="15"  
                            paginatorTemplate="{PreviousPageLink} {CurrentPageReport} {NextPageLink} {RowsPerPageDropdown}"  
                            rowsPerPageTemplate="15,20,30" type="none">  

                    <!-- Button pre odstranenie sportu -->
                    <p:commandButton id="deleteSbutton" icon="ui-icon-trash" 
                                     ajax="true"
                                     action="#{adminSportAndSfBean.deleteSport}" 
                                     update="sports, :tabView:formDLsports:messagesDLSport"
                                     title="#{administration['sport.button.title.delete']}">  
                        <f:setPropertyActionListener value="#{asport}" target="#{adminSportAndSfBean.currentSport}" />  
                    </p:commandButton>  

                    <!-- Button pre upravu udajov sportoviska -->
                    <p:commandButton id="editSbutton"
                                     ajax="true"
                                     icon="ui-icon-edit" 
                                     oncomplete="sdetail.show()" 
                                     update=":tabView:formsportdetail" 
                                     title="#{administration['sport.button.title.edit']}">  
                        <f:setPropertyActionListener value="#{asport}" 
                                                     target="#{adminSportAndSfBean.currentSport}" />  
                    </p:commandButton>
                    
                    <h:outputText value="#{asport.name}" style="margin-left:10px" />
                    <br />  

                </p:dataList>
            </h:panelGrid>  
        </h:form>             
    </p:panel>
    
    <p:dialog header="#{administration['sport.dialog.header.edit']}" widgetVar="sdetail" modal="false" resizable="false" showEffect="fade">         
        <h:form id="formsportdetail">     
            <p:messages id="messagesSport"/>
            <p:outputPanel id="sdetailpanel" layout="block">  
                <h:panelGrid  columns="2" cellpadding="5">  

                    <h:outputLabel for="sname" value="#{administration['sport.dialog.label.name']}" />  
                    <p:inputText id="sname" 
                                 requiredMessage="#{administration['sport.dialog.input.required.name']}"                                            
                                 value="#{adminSportAndSfBean.currentSport.name}" 
                                 required="true"
                                 validator="#{adminSportAndSfBean.validateSportName}"
                                 /> 
                    
                    <p:commandButton value="#{administration['sport.dialog.button.save']}" 
                                     action="#{adminSportAndSfBean.saveChangesToSport}" 
                                     update=":tabView:formDLsports:sports,:tabView:formsportdetail:messagesSport"                                      
                                     oncomplete="if (!args.validationFailed) {sdetail.hide();}"/>
                    <p:commandButton value="#{administration['sport.dialog.button.cancel']}" 
                                     onclick="sdetail.hide()" />
                </h:panelGrid>  
            </p:outputPanel>  
        </h:form> 
    </p:dialog> 
    
    <p:panel header="#{administration['sport.header.new']}">  
        <h:form id="formadds"> 
            <p:messages id="messagesnewsport"/>
            <h:panelGrid columns="2">                                  
                <h:outputLabel for="sportnameinput" value="#{administration['sport.dialog.label.name']}" />  
                <p:inputText id="sportnameinput" 
                             requiredMessage="#{administration['sport.dialog.input.required.name']}"                                            
                             value="#{adminSportAndSfBean.newSportName}" 
                             required="true"
                             validator="#{adminSportAndSfBean.validateSportName}"
                             >  

                </p:inputText>   
            </h:panelGrid>              
            <!-- Button pre vytvorenie noveho sportoviska s danymi sportmi -->
            <p:commandButton value="#{administration['sport.button.new']}" 
                             actionListener="#{adminSportAndSfBean.saveSport}" 
                             update=":tabView:formDLsports:sports, :tabView:formadds:messagesnewsport" 
                             id="addSportButton"/>  
        </h:form> 
    </p:panel>

</ui:composition>