<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">


    <p:panel header="#{administration['sportfacility.header.removeedit']}">          
        <h:form id="formDL"> 
            <p:messages id="messageslistsf"/>
            <h:panelGrid columns="1" cellpadding="10">  
                <p:dataList value="#{adminSportAndSfBean.allSportFacilities}" 
                            var="sportF" 
                            id="sportfacilities"  
                            paginator="true" rows="15"  
                            paginatorTemplate="{PreviousPageLink} {CurrentPageReport} {NextPageLink} {RowsPerPageDropdown}"  
                            rowsPerPageTemplate="15,20,30" type="none">  

                    <!-- Button pre odstranenie sportoviska -->
                    <p:commandButton id="deleteSFbutton" icon="ui-icon-trash" 
                                     ajax="true"
                                     action="#{adminSportAndSfBean.deleteSportFacility}" 
                                     update="sportfacilities, :tabView:formDL:messageslistsf"
                                     title="#{administration['sportfacility.button.title.delete']}">  
                        <f:setPropertyActionListener value="#{sportF}" 
                                                     target="#{adminSportAndSfBean.currentSportFacility}" />  
                    </p:commandButton>  

                    <!-- Button pre upravu udajov sportoviska -->
                    <p:commandButton id="editSFbutton"
                                     ajax="true"
                                     icon="ui-icon-edit" 
                                     oncomplete="sfdetail.show()" 
                                     update=":tabView:formdetail" 
                                     title="#{administration['sportfacility.button.title.edit']}">  
                        <f:setPropertyActionListener value="#{sportF}" 
                                                     target="#{adminSportAndSfBean.currentSportFacility}" />  
                    </p:commandButton>

                    <h:outputText value="#{sportF.name}" style="margin-left:10px" /> 
                    <br />  
                </p:dataList>
            </h:panelGrid>  
        </h:form> 
    </p:panel>

    <p:dialog header="#{administration['sportfacility.dialog.header.edit']}" widgetVar="sfdetail" modal="false" resizable="false" showEffect="fade">               
        <!-- formular musi byt vo vnutri dialogu inak to robi problemy -->
        <h:form id="formdetail"> 
            <p:messages id="messagesdetailsf"/>
            <p:outputPanel id="sfdetailpanel" layout="block">  
                <p:panelGrid styleClass="dialogEditDetails">  
                    <p:row>  
                        <p:column>
                            <h:outputLabel for="sfname" value="#{administration['sportfacility.dialog.label.name']}" />  
                        </p:column>
                        <p:column>
                            <p:inputText id="sfname" 
                                         requiredMessage="#{administration['sportfacility.dialog.input.required.name']}"                                            
                                         value="#{adminSportAndSfBean.currentSportFacility.name}" 
                                         required="true"
                                         /> 
                        </p:column>
                    </p:row>  
                    <p:row> 
                        <p:column>
                            <h:outputLabel for="sfcity" value="#{administration['sportfacility.dialog.label.city']}" /> 
                        </p:column>
                        <p:column>
                            <p:inputText id="sfcity" 
                                         requiredMessage="#{administration['sportfacility.dialog.input.required.city']}"                                            
                                         value="#{adminSportAndSfBean.currentSportFacility.address.city}" 
                                         required="true"
                                         /> 
                        </p:column>
                    </p:row>  
                    <p:row> 
                        <p:column>
                            <h:outputLabel for="sfstreet" value="#{administration['sportfacility.dialog.label.street']}" />  
                        </p:column>
                        <p:column>
                            <p:inputText id="sfstreet" 
                                         requiredMessage="#{administration['sportfacility.dialog.input.required.street']}"                                            
                                         value="#{adminSportAndSfBean.currentSportFacility.address.streetName}" 
                                         required="true"
                                         /> 
                        </p:column>
                    </p:row>  
                    <p:row>
                        <p:column>
                            <h:outputLabel for="sfnumber" value="#{administration['sportfacility.dialog.label.number']}" />         
                        </p:column>
                        <p:column>
                            <p:inputText id="sfnumber" 
                                         requiredMessage="#{administration['sportfacility.dialog.input.required.number']}"                                            
                                         value="#{adminSportAndSfBean.currentSportFacility.address.streetNumber}" 
                                         required="true"
                                         /> 
                        </p:column>
                    </p:row>  
                    <p:row> 
                        <p:column>
                            <h:outputLabel for="sfzip" value="#{administration['sportfacility.dialog.label.zip']}" />     
                        </p:column>
                        <p:column>    
                            <p:inputText id="sfzip" 
                                         requiredMessage="#{administration['sportfacility.dialog.input.required.zip']}"                                            
                                         value="#{adminSportAndSfBean.currentSportFacility.address.zipCode}" 
                                         required="true"
                                         /> 
                        </p:column>
                    </p:row> 

                    <p:row> 
                        <p:column colspan="2">
                            <p:scrollPanel style="width:100%;height:180px"> 
                                <p:selectManyCheckbox layout="pageDirection" 
                                                      value="#{adminSportAndSfBean.currentSportFacility.sports}" 
                                                      id="sportsCheckboxD" 
                                                      converter="#{sportsConverter}">  
                                    <f:selectItems value="#{adminSportAndSfBean.allSports}" 
                                                   var="sportItem" itemValue="#{sportItem}" 
                                                   itemLabel="#{sportItem.name}" />  
                                </p:selectManyCheckbox>
                            </p:scrollPanel>  
                        </p:column>
                    </p:row> 

                    <p:row> 
                        <p:column>
                            <p:commandButton value="#{administration['sportfacility.dialog.button.save']}" 
                                             action="#{adminSportAndSfBean.saveChangesToSportFacility}" 
                                             update=":tabView:formDL:sportfacilities,:tabView:formdetail:messagesdetailsf" 
                                             oncomplete="if (!args.validationFailed) {sfdetail.hide();}"/>
                        </p:column>
                        <p:column>
                            <p:commandButton value="#{administration['sportfacility.dialog.button.cancel']}" onclick="sfdetail.hide()" />
                        </p:column>
                    </p:row> 
                </p:panelGrid>  
            </p:outputPanel>  
        </h:form> 

    </p:dialog> 

    <!-- Vlozenie komponentov pre zadanie noveho sportoviska --> 
    <p:panel header="#{administration['sportfacility.header.new']}">  
        <p:messages id="messagesnewsf"/>
        <h:form id="formaddsf"> 
            <h:panelGrid columns="2">                                  
                <h:outputLabel for="sportfacilitynameinput" value="#{administration['sportfacility.dialog.label.name']}" />  
                <p:inputText id="sportfacilitynameinput" 
                             requiredMessage="#{administration['sportfacility.dialog.input.required.name']}"                                            
                             value="#{adminSportAndSfBean.newSportFacility.name}" 
                             required="true"
                             >  

                </p:inputText>     

                <h:outputLabel for="sportfacilitycityinput" value="#{administration['sportfacility.dialog.label.city']}" />
                <p:inputText id="sportfacilitycityinput" 
                             requiredMessage="#{administration['sportfacility.dialog.input.required.city']}"                                            
                             value="#{adminSportAndSfBean.newSportFacility.address.city}" 
                             required="true"
                             />  

                <h:outputLabel for="sportfacilitystreetinput" value="#{administration['sportfacility.dialog.label.street']}" />
                <p:inputText id="sportfacilitystreetinput" 
                             requiredMessage="#{administration['sportfacility.dialog.input.required.street']}"                                            
                             value="#{adminSportAndSfBean.newSportFacility.address.streetName}" 
                             required="true"
                             />  

                <h:outputLabel for="sportfacilitynumberinput" value="#{administration['sportfacility.dialog.label.number']}" />
                <p:inputText id="sportfacilitynumberinput" 
                             requiredMessage="#{administration['sportfacility.dialog.input.required.number']}"                                            
                             value="#{adminSportAndSfBean.newSportFacility.address.streetNumber}" 
                             required="true"
                             />  

                <h:outputLabel for="sportfacilityzipinput" value="#{administration['sportfacility.dialog.label.zip']}" />
                <p:inputText id="sportfacilityzipinput" 
                             requiredMessage="#{administration['sportfacility.dialog.input.required.zip']}"                                            
                             value="#{adminSportAndSfBean.newSportFacility.address.zipCode}" 
                             required="true"
                             />  

                <h:outputLabel for="sportsCheckbox" value="Športy:" />

                <p:selectManyCheckbox layout="pageDirection" 
                                      value="#{adminSportAndSfBean.newSportFacility.sports}" 
                                      id="sportsCheckbox" 
                                      converter="#{sportsConverter}">  
                    <f:selectItems value="#{adminSportAndSfBean.allSports}" 
                                   var="sportItem" 
                                   itemValue="#{sportItem}" 
                                   itemLabel="#{sportItem.name}" />  
                </p:selectManyCheckbox>  

            </h:panelGrid>              
            <!-- Button pre vytvorenie noveho sportoviska s danymi sportmi -->
            <p:commandButton value="#{administration['sportfacility.button.new']}"
                             actionListener="#{adminSportAndSfBean.saveSportFacility}" 
                             update=":tabView:formDL:sportfacilities, :tabView:messagesnewsf" 
                             id="addSportFacilityButton"/>  
        </h:form> 
    </p:panel>

</ui:composition>
