<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/template.xhtml">


    <ui:define name="leftContent">
        <ui:include src="usersettingsleftmenu.xhtml" />
    </ui:define>

    <ui:define name="centerContent">
        <p:panel header="#{settings['panel.header.favoritesports']}">
            <p:messages id="msgUserUpdate"/>
            <h:form id="changeUserSportsForm">    
                <p:selectManyCheckbox layout="pageDirection" 
                                      value="#{userSettingsBean.updatedUser.sports}" 
                                      id="sportsCheckboxUser"  
                                      converter="#{sportsConverter}">  
                    <f:selectItems value="#{adminSportAndSfBean.allSports}" 
                                   var="sportItem" itemValue="#{sportItem}" 
                                   itemLabel="#{sportItem.name}" />  
                </p:selectManyCheckbox>

                <p:commandButton id="addUser" value="#{settings['save.value']}" 
                                 action="#{userSettingsBean.updateUserSports}" ajax="true"
                                 update=":msgUserUpdate"/>              
            </h:form>
        </p:panel>
        
        <ui:remove>
        <p:panel header="#{settings['panel.header.other']}">
            <!-- TODO implementovat -->
            <p:selectBooleanCheckbox label="#{settings['cb.sendmail']}"/>
        </p:panel>
        </ui:remove>
    </ui:define>

</ui:composition>

