<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="template.xhtml">
    <ui:define name="centerContent">
        <p:ajaxStatus onstart="statusDialog.show();" onsuccess="statusDialog.hide();"/>  

        <p:dialog modal="true" widgetVar="statusDialog"  
                  draggable="false" closable="false">  
            <p:graphicImage value="resources/gif/ajaxloadingbar.gif" />  
        </p:dialog>
        <h:form style="margin-left: 12%">
            <h:panelGrid columns="2">

                <h:outputText id="to" value="#{contactus['to']}"/><br/>
                <h:panelGroup>
                    <p:inputText size="30" id="name"
                                 value="#{clientBean.recipient}"
                                 required="true"
                                 requiredMessage="#{contactus['to.requiredMessage']}"/>
                    <p:message for="name"/>
                </h:panelGroup><br/>

                <h:outputText id="subjMail" value="#{contactus['subject']}"/><br/>
                <h:panelGroup>
                    <p:inputText size="40" id="subject"
                                 value="#{clientBean.subject}"
                                 required="true"
                                 requiredMessage="#{contactus['subject.requiredMessage']}"/>
                    <p:message for="subject"/>
                </h:panelGroup><br/>

                <h:outputText id="messgMail" value="#{contactus['message']}"/><br/>
                <h:panelGroup>
                    <p:inputTextarea cols="60" rows="15" id="message"
                                     value="#{clientBean.message}"
                                     required="true"
                                     requiredMessage="#{contactus['subject.requiredMessage']}"/>
                    <p:message for="message"/>
                </h:panelGroup><br/><br/>
                <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />
                <p:commandButton id="sendButton" value="#{contactus.send}" action="#{clientBean.send()}"/>
                <h:outputText value="#{clientBean.statusMessage}" style="text-align:center;
                              color:#999999;
                              font-family:georgia,garamond,serif;
                              font-size:25px;font-style:italic;"/>

            </h:panelGrid>
        </h:form>
    </ui:define>
    <ui:define name="leftContent"> 
        <ui:include src="homeNoTemplate.xhtml"/>
    </ui:define>

    <ui:define name="rightContent"> 
        <br/><br/><br/>
        <h:outputLink id="phoneLink" value="javascript:void(0)" onclick="dlgPhone.show()"> 
            <p:graphicImage value="resources/images/phone.png" style=" display: block;   margin-left: auto;   margin-right: auto;"/>
        </h:outputLink>
        <p:dialog id="dialogPhone" header="#{contactus.phone}" widgetVar="dlgPhone" resizable="false">
            <h:form style="text-align:center;
                    color:#999999;
                    font-family:georgia,garamond,serif;
                    font-size:25px;font-style:italic;">
                <h:outputText   
                    value="+421 910 489 269" />  
            </h:form>
        </p:dialog>

        <br/><br/><br/>
        <h:outputLink id="fbLink" value="javascript:void(0)" onclick="dlgFb.show()">
            <p:graphicImage value="resources/images/facebook.png" style=" display: block;   margin-left: auto;   margin-right: auto;"/>
        </h:outputLink>
        <p:dialog id="dialogFb" header="Facebook" widgetVar="dlgFb" resizable="false">
            <h:form style="text-align:center;
                    color:#999999;
                    font-family:georgia,garamond,serif;
                    font-size:25px;font-style:italic;">
                <h:outputText   
                    value="https://www.facebook.com/groups/246403022115304/" />  
            </h:form>
        </p:dialog>

        <br/><br/><br/>
        <h:outputLink id="emailLink" value="javascript:void(0)" onclick="dlgEmail.show()">
            <p:graphicImage value="resources/images/email.jpg" style=" display: block;   margin-left: auto;   margin-right: auto;"/>
        </h:outputLink>
        <p:dialog id="dialogEmail" header="Email" widgetVar="dlgEmail" resizable="false">
            <h:form style="text-align:center;
                    color:#999999;
                    font-family:georgia,garamond,serif;
                    font-size:25px;font-style:italic;">
                <h:outputText   
                    value="lukas.malinak@student.tuke.sk" /><br/>
                <h:outputText   
                    value="gabriel.cervenak@student.tuke.sk" /><br/>
                <h:outputText   
                    value="martin.hancak@student.tuke.sk" />
            </h:form>
        </p:dialog>
    </ui:define>

</ui:composition>

