<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="template.xhtml">
    <ui:define name="centerContent">
        <p:accordionPanel multiple="true">  
            <p:tab title="#{help['registration']}">  
                <h:panelGrid columns="2" cellpadding="8">  
                    <h:outputText  
                        value="#{help['help.registration']}" />  
                </h:panelGrid>  
            </p:tab>  
            <p:tab title="#{help['login']}">  
                <h:panelGrid columns="2" cellpadding="8">  
                    <h:outputText value="#{help['help.login']}" />  
                </h:panelGrid>  
            </p:tab>  
            <p:tab title="#{help['reservation']}">  
                <h:panelGrid columns="2" cellpadding="8">  
                    <h:outputText value="#{help['help.reservation']}" />  
                </h:panelGrid>  
            </p:tab>  
        </p:accordionPanel>
    </ui:define>
    <ui:define name="leftContent"> 
        <ui:include src="homeNoTemplate.xhtml"/>
    </ui:define>
    <ui:define name="rightContent">
        <h:form>
            <br /><br /><br /><br />
            <p:imageSwitch effect="turnDown" style=" display: block;   margin-left: auto;   margin-right: auto;">  
                <ui:repeat value="#{imageSwitch.images}" var="image">  
                    <p:graphicImage value="resources/images/#{image}"/>  
                </ui:repeat>  
            </p:imageSwitch>
        </h:form>
    </ui:define>
</ui:composition>

