<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="template.xhtml">

    <ui:define name="leftContent">
        <ui:include src="homeNoTemplate.xhtml" />
    </ui:define>
    <ui:define name="rightContent">
        <h:form>
            <br /><br /><br /><br />
            <p:imageSwitch effect="turnDown" style=" display: block;   margin-left: auto;   margin-right: auto;">  
                <ui:repeat value="#{imageSwitch.images}" var="image">  
                    <p:graphicImage value="resources/images/#{image}"/>  
                </ui:repeat>  
            </p:imageSwitch>
        </h:form>
    </ui:define>
    <ui:define name="centerContent"><br/><br/>       
        <h:form style="text-align:center;letter-spacing:5px;
                color:#999999;text-decoration:overline;
                font-family:georgia,garamond,serif;
                font-size:25px;font-style:italic;">
            <h:outputText   
                value="BookYourSport" />  
        </h:form><br/><br/><br/>
        <h:form style="text-align:center;
                color:#999999;
                font-family:georgia,garamond,serif;
                font-size:25px;font-style:italic;">
            <h:outputText   
                value="#{home['text']}" />  
        </h:form>
    </ui:define>
</ui:composition>

