<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:form>
        
        <br /><br /><br />
        <p:calendar mode="inline" locale="#{language.locale}" value="#{pageControllerSessionScoped.calendarSelectedDate}">
            <p:ajax event="dateSelect" listener="#{pageControllerSessionScoped.calendarHandleDateSelect}"/>
        </p:calendar>
        <br/><br /><br />
        <p:button outcome="#{navigation.table}" value="#{leftcontent['reservation']}" 
                  icon="ui-icon-star" disabled="#{pageControllerViewScoped.reservationButton}"/>
    </h:form>
</ui:composition>

