<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="template.xhtml">
    <ui:define name="centerContent">         
        <h:form>
            <p:messages id="msglogin"/>
            <h:panelGrid columns="1" id="loginGrid">
                <h:outputLabel value="#{login['login']}"/>
                <p:inputText id="login" value="#{loginBean.loginEmail}" 
                             required="true" requiredMessage="#{login['login.requiredMessage']}"/>
                <p:tooltip for="login" value="#{login['login.requiredMessage']}" showEffect="fade" hideEffect="fade" /><br/>
                <h:outputText value="#{login['password']}" />  
                <p:password id="loginPasswd" value="#{loginBean.password}" 
                            required="true" requiredMessage="#{login['password.requiredMessage']}"/>
                <p:tooltip for="loginPasswd" value="#{login['password.requiredMessage']}" showEffect="fade" hideEffect="fade" /><br/>
            </h:panelGrid>
            <p:commandButton id="confirmButton" ajax="false" action="#{loginBean.isValidLogin}" 
                             update="loginGrid, msglogin" value="#{login['confirm']}" />
        </h:form><br/>
        <h:form>
            <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
                <h:outputLink id="forgetPasswd" value="javascript:void(0)" style="float: left;" onclick="dlg.show();">
                    <h:outputText value="#{template['password.forget']}"/>
                </h:outputLink>
            </h:panelGrid>
            <p:dialog header="#{template['password.forget']}" showEffect="clip" hideEffect="clip" resizable="false" width="250" widgetVar="dlg">  
                <h:panelGrid columns="1" id="display">  
                    <h:outputLabel value="#{login['login']}"/>
                    <p:inputText value ="#{loginBean.forgetEmail}"/>
                    <p:commandButton id="forgetButton" ajax="false" action="#{loginBean.forgetPassword()}" 
                             update="loginGrid, msglogin" value="#{login['send']}" />
                </h:panelGrid>  
            </p:dialog>
        </h:form>
    </ui:define>
    <ui:define name="leftContent">
        <ui:include src="homeNoTemplate.xhtml" />
    </ui:define>
    <ui:define name="rightContent">
        <h:form>
            <br /><br /><br /><br />
            <p:imageSwitch effect="turnDown" style=" display: block;   margin-left: auto;   margin-right: auto;">  
                <ui:repeat value="#{imageSwitch.images}" var="image">  
                    <p:graphicImage value="resources/images/#{image}"/>  
                </ui:repeat>  
            </p:imageSwitch>
        </h:form>
    </ui:define>
</ui:composition>

