<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="template.xhtml">
    <ui:define name="centerContent">
        <h:form id="form">  

            <p:dataGrid var="sportFacility" value="#{sportFacilityBean.sportFacilities}" columns="3"  
                        rows="6" paginator="true"  
                        paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
                        rowsPerPageTemplate="3,6,12">                
                <p:panel header="#{sportFacility.name}" style="text-align:center">  
                    <h:panelGrid columns="1" style="width:100%">                   
                        <p:dataList value="#{sportFacility.sports}" var="sports">
                            #{sports.name}
                        </p:dataList>  
                        <p:commandLink update=":form:sportDetail" oncomplete="adrDlg.show()" title="View Detail">  
                            <h:outputText styleClass="ui-icon ui-icon-search" style="margin:0 auto;" />   
                            <f:setPropertyActionListener value="#{sportFacilityE}"   
                                                         target="#{sportFacilityBean.selectedSportFacility}" />  
                        </p:commandLink>  
                    </h:panelGrid>  
                </p:panel>  

            </p:dataGrid>  

            <p:dialog header="#{sportsFac['address']}" widgetVar="adrDlg" closable="true" resizable="false" draggable="true">  
                <p:outputPanel id="sportDetail" style="text-align:center;" layout="block">  
                    <h:panelGrid  columns="2" cellpadding="5">  
                        <h:outputLabel for="city" value="#{sportsFac['city']}: " />  
                        <h:outputText id="city" value="#{sportFacilityBean.selectedSportFacility.address.city}" />  

                        <h:outputLabel for="streetName" value="#{sportsFac['strName']}: " />  
                        <h:outputText id="streetName" value="#{sportFacilityBean.selectedSportFacility.address.streetName}" />  

                        <h:outputLabel for="streetNumber" value="#{sportsFac['strNum']}: " />  
                        <h:outputText id="streetNumber" value="#{sportFacilityBean.selectedSportFacility.address.streetNumber}"/> 
                        
                        <h:outputLabel for="zip" value="#{sportsFac['zip']}: " />  
                        <h:outputText id="zipr" value="#{sportFacilityBean.selectedSportFacility.address.zipCode}"/>
                    </h:panelGrid>  
                </p:outputPanel>  
            </p:dialog>  

        </h:form>
    </ui:define>
    <ui:define name="leftContent">
        <ui:include src="homeNoTemplate.xhtml"/>
    </ui:define>
    <ui:define name="rightContent">
        <h:form>
            <br /><br /><br /><br />
            <p:imageSwitch effect="turnDown" style=" display: block;   margin-left: auto;   margin-right: auto;">  
                <ui:repeat value="#{imageSwitch.images}" var="image">  
                    <p:graphicImage value="resources/images/#{image}"/>  
                </ui:repeat>  
            </p:imageSwitch>
        </h:form>
    </ui:define>
</ui:composition>
