<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:form>
        <p:selectOneMenu value="#{sportFacilityBean.selectedSportFacility}" effect="fade" converter="#{sportFacilityConverter}">
            <f:selectItems value="#{sportFacilityBean.sportFacilities}" var="sportFacility" itemLabel="#{sportFacility.name}" itemValue="#{sportFacility}"/> 
            <p:ajax listener="#{scheduleController.loadReservations()}"/>
        </p:selectOneMenu> 
        <br/>
    </h:form>
</ui:composition>

