<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="template.xhtml">
    <ui:define name="centerContent">    

        <style>
            .fc-event-skin.greenEvent, .greenEvent .fc-event-skin{
                background-color: green;
                border-color: green;
                color: white;
            }
        </style>

        <h:form id="form">

            <p:growl id="messages" showDetail="true" />

            <p:schedule value="#{scheduleController.eventModel}" widgetVar="myschedule" locale="#{language.locale}" 
                        aspectRatio="1.778" 
                        leftHeaderTemplate="today" 
                        rightHeaderTemplate="agendaWeek, agendaDay, prev,next"
                        view="agendaWeek"
                        initialDate="#{pageControllerSessionScoped.calendarSelectedDate}"
                        minTime="6" maxTime="22"
                        id="myschedule"
                        resizable="false">

                <p:ajax event="dateSelect" listener="#{scheduleController.onDateSelect}" update="eventDialog" oncomplete="if(#{loginBean.loggedIn}){eventDialog.show()}else errorDialog.show()"/>
                <p:ajax event="eventSelect" listener="#{scheduleController.onEventSelect}" update="eventEditDialog" oncomplete="eventEditDialog.show()" />
                <p:ajax event="eventMove" listener="#{scheduleController.onEventMove}" update="messages" />
<!--                <p:ajax event="eventResize" listener="#{scheduleController.onEventResize}" update="messages" />-->

            </p:schedule>

            <!--START Dialog na vytvorenie rezervacie-->
            <p:dialog id="eventDialog" widgetVar="eventDialog" header="#{table.createreservation}" showEffect="clip" hideEffect="clip" resizable="false" width="250">
                <p:growl id="msgs" showDetail="true"/>
                <!--START Staticka cast dialogu zobrazuje len info-->
                <h:panelGrid id="eventDetails" columns="2">
                    <h:outputLabel for="user" value="#{table['user']}"/>
                    <h:outputText id="user" value="#{loginBean.user.firsname} #{loginBean.user.lastname}"/>
                    <h:outputLabel for="sportFacility" value="#{table['facility']}" />
                    <h:outputText id="sportFacility" value="#{sportFacilityBean.selectedSportFacility.name}"/>
                    <h:outputLabel for="date" value="#{table['date']}" />
                    <h:outputText id="date" value="#{scheduleController.selectedDate}"/>
                    <h:outputLabel for="startTime" value="#{table['time']}" />
                    <h:outputText id="stratTime" value="#{scheduleController.selectedTime}" />
                </h:panelGrid>
                <!--END Staticka cast dialogu zobrazuje len info-->
                <!--START Dynamicka cast - vyber casu a sportu-->
                <h:panelGrid id="eventDetails2" columns="2">
                    <h:outputLabel for="endTime" value="#{table['duration']}"/>
                    <p:inplace id="endTime" label="#{table['choosetime']}" effectSpeed="fast">  
                        <p:selectOneMenu id="timeChooser" value="#{scheduleController.selectedDuration}" effect="fade" style="width:100px">  
                            <f:selectItem itemLabel="#{table['choosetime']}" itemValue="default"/>
                            <f:selectItem itemLabel="#{table['onehour']}" itemValue="1" />  
                            <f:selectItem itemLabel="#{table['onehalfhour']}" itemValue="2" />  
                            <f:selectItem itemLabel="#{table['twohours']}" itemValue="3" />  
                        </p:selectOneMenu>  
                    </p:inplace> 
                    <h:outputLabel for="sport" value="#{table['sport']}" />

                    <p:inplace id="sportMenu1" label="Choose sport" effectSpeed="fast" rendered="#{scheduleController.renderSportsList}">
                        <p:selectOneMenu value="#{scheduleController.selectedSport}" effect="fade" converter="#{sportsConverter}" style="width:100px">
                            <f:selectItem itemLabel="Choose sport" itemValue="Choose sport" />
                            <f:selectItems value="#{scheduleController.sports}" var="sports" itemLabel="#{sports.name}" itemValue="#{sports}"/>  
                        </p:selectOneMenu>
                    </p:inplace> 

                    <p:inplace id="sportMenu2" label="#{sportFacilityBean.selectedSportFacility.sports.get(0).name}" effectSpeed="fast" rendered="#{!scheduleController.renderSportsList}">
                        <p:selectOneMenu value="#{scheduleController.selectedSport}" effect="fade" converter="#{sportsConverter}" style="width:100px">
                            <f:selectItems value="#{scheduleController.sports}" var="sports" itemLabel="#{sports.name}" itemValue="#{sports}"/>  
                        </p:selectOneMenu>
                    </p:inplace> 
                </h:panelGrid>
                <!--END Dynamicka cast - vyber casu a sportu-->
                <!--START Tlacidla Save a Cancel-->
                <p:commandButton value="#{table.save}" actionListener="#{scheduleController.addEvent}" update="msgs"/>
                <p:commandButton value="#{table['cancel']}" onclick="eventDialog.hide()" inline="true"/>
                <!--END Tlacidla Save a Cancel-->
                <!--START Panel na pridanie poctu chybajucich hracov-->
                <p:accordionPanel widgetVar="accordion_needPlayers" activeIndex="-1">
                    <p:tab id="needPlayers" title="#{table['needplayers']}" >
                        <h:outputText value="#{table['needplayers.text']}"/>
                        <h:panelGrid columns="2">
                            <h:outputLabel for="playersCount" value="#{table['needplayers.number']}"/>
                            <h:inputText id="playersCount" size="10" value="#{scheduleController.subPlayersNeeded}" converterMessage="Wrong input.Input can contain only number characters"/>
                        </h:panelGrid>
                    </p:tab>
                </p:accordionPanel>
                <!--END Panel na pridanie poctu chybajucich hracov-->
            </p:dialog>
            <!--END Dialog na vytvorenie rezervacie-->

            <!--START Dialog na editaciu/prezeranie eventu-->
            <p:dialog id="eventEditDialog" widgetVar="eventEditDialog" header="#{table['reservation']}" showEffect="clip" hideEffect="clip" resizable="false" width="250">
                <h:panelGrid id="eventEditDetails" columns="2">
                    <h:outputLabel for="userEdit" value="#{table['user']}"/>
                    <h:outputText id="userEdit" value="#{scheduleController.event.getUserE().getFirsname()} #{scheduleController.event.getUserE().getLastname()}"/>
                    <h:outputLabel for="sportFacilityEdit" value="#{table['facility']}" />
                    <h:outputText id="sportFacilityEdit" value="#{scheduleController.event.getSportFacility().getName()}"/>
                    <h:outputLabel for="dateEdit" value="#{table['date']}" />
                    <h:outputText id="dateEdit" value="#{scheduleController.selectedDate}"/>
                    <h:outputLabel for="startTimeEdit" value="#{table['starttime']}" />
                    <h:outputText id="stratTimeEdit" value="#{scheduleController.selectedTime}" />
                    <h:outputLabel for="endTimeEdit" value="#{table['endtime']}"/>
                    <h:outputText id="endTimeEdit" value="#{scheduleController.selectedEndTime}"/>
                    <h:outputLabel for="sportEdit" value="#{table['sport']}" />
                    <h:outputText id="sportEdit" value="#{scheduleController.event.getSport().getName()}"/>
                    <h:outputLabel for="requiredPlayers" value="#{table['requiredplayers']}" rendered="#{scheduleController.subPlayersNeeded!=0}"/>
                    <h:outputText id="requiredPlayers" value="#{scheduleController.subPlayersNeeded}" rendered="#{scheduleController.subPlayersNeeded!=0}"/>
                </h:panelGrid>
                <p:accordionPanel widgetVar="accordion_needPlayers_Join" activeIndex="-1" rendered="#{loginBean.loggedIn and !scheduleController.event.getUserE().equals(loginBean.user) and scheduleController.subPlayersNeeded!=0}">
                    <p:tab id="joinSubPlayers" title="Join" >
                        <h:outputText value="Number of players to join"/>
                        <p:spinner value="#{scheduleController.subPlayersToAdd}" min="1" max="#{scheduleController.subPlayersNeeded}" size="10"><p:ajax/></p:spinner> 

                        <p:commandButton value="Commit" actionListener="#{scheduleController.updateEvent()}"/>
                    </p:tab>
                </p:accordionPanel>

                <p:accordionPanel widgetVar="accordion_joinedPlayer" activeIndex="-1" rendered="#{scheduleController.accordionPanelRendered}">
                    <p:tab id="unjoinSubPlayers" title="Unjoin">
                        <p:commandButton value="Unjoin" actionListener="#{scheduleController.unjoinSubPlayer()}"/>
                    </p:tab>
                </p:accordionPanel>

                <p:accordionPanel widgetVar="accordion_editEvent" activeIndex="-1" rendered="#{loginBean.loggedIn and scheduleController.event.getUserE().equals(loginBean.user)}">
                    <p:tab id="editEventTab" title="#{table['edit']}">
                        <h:panelGrid columns="2">
                            <h:outputLabel for="sportEdit" value="#{table['sport']}"/>
                            <p:inplace id="sportEdit" label="Choose sport" effectSpeed="fast" rendered="#{scheduleController.renderSportsList}">
                                <p:selectOneMenu value="#{scheduleController.selectedSport}" effect="fade" converter="#{sportsConverter}" style="width:100px">
                                    <f:selectItem itemLabel="Choose sport" itemValue="Choose sport" />
                                    <f:selectItems value="#{scheduleController.sports}" var="sports" itemLabel="#{sports.name}" itemValue="#{sports}"/>  
                                </p:selectOneMenu>
                            </p:inplace> 
                            <h:outputLabel for="playersCountEdit" value="#{table['requiredplayers']}"/>
                            <h:inputText id="playersCountEdit" size="10" value="#{scheduleController.subPlayersNeeded}" converterMessage="Wrong input.Input can contain only number characters"/>
                            <p:commandButton value="OK" actionListener="#{scheduleController.editEvent()}"/>
                            <p:commandButton value="#{table['delete']}" actionListener="#{scheduleController.deleteEvent()}"/>
                        </h:panelGrid>
                    </p:tab>
                </p:accordionPanel>
            </p:dialog>
            <!--END Dialog na editaciu/prezeranie eventu-->

            <!--START Errorovy dialog pri neprihlasenom pouzivatelovi-->
            <p:dialog widgetVar="errorDialog" header="#{table['error']}" resizable="false" showEffect="clip" hideEffect="clip">
                <h:outputText value="#{table['error.message']}"/>
                <br/>
                <h:outputText value="#{table['please']} "/><h:link value="#{table['login']}" outcome="#{navigation.login}"/><h:outputText value=" #{table['or']} "/><h:link value="#{table['register']}" outcome="#{navigation.registration}"/>
            </p:dialog>
            <!--END Errorovy dialog pri neprihlasenom pouzivatelovi-->

        </h:form>
    </ui:define>
    <ui:define name="leftContent">
        <ui:include src="homeNoTemplate.xhtml"/>
    </ui:define>
    <ui:define name="rightContent">
        <ui:include src="sportFacilities.xhtml"/>
    </ui:define>
</ui:composition>
